@import url(font.css);
@import url(headStyle.css);

.trailer {
    height: 300px;
    width: 200px;
}
    
.showlist, .card-footer {
    background-color: black !important;
    color: white !important;
}

.w-115 { width: 114% !important; }

.h-15 { height: 18% !important; }

.ml-10 { margin-left: -10vw; }

.gradienttop {
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.815)) !important;
    z-index: 2;
}

.gradientdown {
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.822), rgba(255, 255, 255, 0)) !important;
    z-index: 2;
    margin-top: 37.6vw;
}

a, a:hover { color: rgb(255, 255, 255); }

#logo { opacity: 0.7; }

.sub { background-color: #000000f5; }

@keyframes fadein {
    from {opacity: 0.5;}
    to {opacity: 0.8;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity: 0.5;}
    to {opacity: 0.8;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity: 0.5;}
    to {opacity: 0.8;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity: 0.5;}
    to {opacity: 0.8;}
}

.menu {
    color: white;
    opacity: 0.8;
}