<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 중복체크 -->
	<select id="getMemUserid" resultType="java.lang.String">
		SELECT userid FROM MEMBERS WHERE userid = #{userid}
	</select>
	
	<!-- 메일 중복 체크 -->
	<select id="chkMemEmail" resultType="java.lang.String">
		SELECT email FROM MEMBERS WHERE email= #{email}
	</select>
	
	<!-- 회원 가입 -->
	<insert id="register" parameterType="com.lec.dto.memberDTO">
		INSERT INTO MEMBERS(mem_uid, userid, userpw, name, email, phone, zipcode, 
							address1, address2, signupdate, status)
			 VALUES(MEMBERS_SEQ.NEXTVAL, #{userid}, #{userpw}, #{name}, #{email}, #{phone}, #{zipcode}, 
							#{address1}, #{address2}, SYSDATE, '0')
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="com.lec.dto.memberDTO">
		SELECT userid, name, email, phone, 
				zipcode, address1, address2, signupdate, status
	  			FROM MEMBERS WHERE userid = #{userid} AND userpw = #{userpw}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="updateMemInfo">
		UPDATE MEMBERS 
		SET userpw = #{userpw}, name=#{name}, email = #{email}, phone = #{phone}, 
			zipcode = #{zipcode}, address1 = #{address1}, address2 = #{address2}
		WHERE userid = #{userid}
	</update>

	<!-- 회원 정보 -->
	<select id="getMemInfo" resultType="com.lec.dto.memberDTO">
		SELECT userid, name, email, phone, zipcode, 
				address1, address2, signupdate, status
		FROM MEMBERS WHERE userid = #{userid}
	</select>
</mapper>

